$box-shadow-color: hsla(0, 0%, 50%, 0.2);
$valid-bg-color: hsl(150, 47%, 78%);
$valid-color: hsl(152, 69%, 19%);

.autocomplete-component {
  .autocomplete-item-container {
    max-height: 0px;
    width: 99%;
    margin-top: 10px;
    z-index: 1;
    background-color: white;
    transition: all 0.1s ease-in;

    &.show {
      min-height: 40px;
      max-height: 300px;
      box-shadow: -10px 7px 10px $box-shadow-color, 10px 7px 10px $box-shadow-color;
    }

    .selected {
      color: $valid-color;
      background-color: $valid-bg-color;
    }

    li {
      i.fa {
        pointer-events: none;
      }

      ul {
        padding-left: 0;
        list-style: none;
      }

      .autocomplete-item {
        height: 41px;
        border-bottom: 0;

        &.parent {
          font-weight: 600;
        }

        svg {
          pointer-events: none;
        }
      }
    }
  }
}
