.clear-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;

  svg {
    pointer-events: none;
  }
}
