$container-box-shadow-color: hsla(0, 0%, 50%, 0.2);
$container-bg-color: hsl(0, 0%, 100%);
$highlighted-color: hsl(0, 0%, 100%);
$highlighted-bg-color: hsl(212, 100%, 60%);
$checked-bg-color: hsl(150, 47%, 78%);
$checked-color: hsl(152, 69%, 19%);
$border-color: hsla(0, 0%, 0%, 0.25);
$focused-border-color: hsl(216, 98%, 76%);
$focused-box-shadow-color: hsla(216, 98%, 52%, 0.251);
$is-valid-border-color: hsl(152, 69%, 31%);
$is-valid-box-shadow-color: hsla(152, 69%, 31%, 0.25);
$is-invalid-border-color: hsl(354, 70%, 54%);
$is-invalid-box-shadow-color: hsla(354, 70%, 54%, 0.25);
$disabled-bg-color: hsl(210, 16%, 93%);

.time-picker-component {
  position: relative;

  .time-picker-input {
    position: absolute;
    cursor: default;
    bottom: 0;
    left: 0;
    z-index: -1;

    &:not(.is-valid):not(.is-invalid):focus + div {
      border: 1px solid $focused-border-color;
    }

    &.is-valid:focus + div,
    &.is-invalid:focus + div {
      border-width: 1px;
    }
  }

  .time-picker-input-dummy {
    display: flex;
    justify-content: center;
    height: 38px;
    line-height: 1;

    .time-picker-hours,
    .time-picker-seperator,
    .time-picker-minutes {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      outline: none;
      border: none;
      background-color: $container-bg-color;
      padding: 1px;
    }

    &.disabled {
      background-color: $disabled-bg-color;

      .time-picker-hours,
      .time-picker-seperator,
      .time-picker-minutes {
        background-color: $disabled-bg-color;
        cursor: default;
      }
    }

    &:not(.disabled) {
      .time-picker-hours,
      .time-picker-minutes {
        &.highlighted {
          color: $highlighted-color;
          background-color: $highlighted-bg-color;
        }
      }
    }
  }

  .time-picker-container {
    position: absolute;
    z-index: 1;
    max-height: 0px;
    margin-top: 10px;
    background-color: $container-bg-color;
    transition: all 0.1s ease-in;

    &.show {
      min-height: 40px;
      max-height: 287px;
      box-shadow: -10px 7px 10px $container-box-shadow-color, 10px 7px 10px $container-box-shadow-color;
    }

    ul {
      height: 287px;
      padding: 0;
      border: 1px solid $border-color;

      @supports (scrollbar-width: none) {
        scrollbar-width: none;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      label {
        position: relative;
        border-bottom: 1px solid $border-color;
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
        width: 50px;
        padding: 10px;

        &.checked {
          color: $checked-color;
          background-color: $checked-bg-color;
        }

        input[type='checkbox'] {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          margin: 0;
          cursor: pointer;
          opacity: 0;
        }
      }

      &:nth-child(2) {
        border-left-width: 0px;
      }
    }
  }
}
